@import '../../styles/mixin';
@import '../../styles/variables';
.navContainer {
  position: relative;
  max-width: 100%;

  .menu {
    display: flex;
    gap: 20px;
  }

  .hamburger {
    @include flex(column);
    display: none;
    max-width: max-content;
    cursor: pointer;
    gap: 5px;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    .hamburgerLine {
      @include sizing(50px, 3px);

      background-color: #333;
    }
  }

  @media (max-width: 688px) {
    .hamburger {
      display: flex;
    }
    .link {
      font-size: medium;
    }
    .menu {
      display: none;
      padding: 15px;
      flex-direction: column;
      position: absolute;
      top: -15px;
      left: -40px;
      width: 130px;
      background-color: #f1f3f4;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, filter 0.3s ease;
    }

    .menu.open {
      display: flex;
    }
  }
}
