$primery_light: rgba(255, 255, 255, 1);
$primery_blue:rgba(13, 80, 255, 1);
$primery_dark: rgba(40, 40, 40, 1);

$primery_h1_weight:700;
$primery_h1_size:64px;
$primery_title_weight: 500;
$primery_title_size:20px;

$primery_number_weight: 600;
$primery_title_size:40px;

$primery_description_nav_weight: 400;
$primery_description_nav_size:20px;